body{
 text-align: center;
    background-color:  color: fuchsia;
    }


#1Img{
    width:20px;
    border-radius: 25px;
}
#2Img{
    width:20px;
    border-radius: 25px;
}
#3Img{
    width:20px;
    border-radius: 25px;
}
#4Img{
    width:20px;
    border-radius: 25px;
}

